<div class="form-container">
  <form (ngSubmit)="login()">
    <h2 mat-dialog-title>Login</h2>
    <mat-form-field>
      <input matInput type="email" name="email" placeholder="Email" [(ngModel)]="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
    </mat-form-field>
    <button mat-button>Login</button>
    <a routerLink="/signup" routerLinkActive="true">or signup</a>
  </form>
</div>
