<h2>Roles</h2>
<button mat-mini-fab type="button" routerLink="/admin/roles-create"><mat-icon>add</mat-icon></button>
<mat-list *ngIf="!loading; else loadingMsg">
  <mat-list-item *ngFor="let role of roles">
    <h3>{{ role.name }}</h3>
    <mat-list-item *ngFor="let permission of role.permissions">
      <h3>{{ permission.name }} {{ permission.model }}</h3>
    </mat-list-item>
    <button mat-icon-button type="button" [routerLink]="['/admin/roles-update', role.id]"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button type="button" [routerLink]="['/admin/roles-delete', role.id]"><mat-icon>delete</mat-icon></button>
  </mat-list-item>
</mat-list>

<ng-template #loadingMsg >
  <mat-spinner class="loading"></mat-spinner>
</ng-template>
<router-outlet></router-outlet>
