.form-container {
	position: relative;
	max-width: 25rem;
	margin: 2rem auto;
	background: $body-bg;
	width: 100%;
	padding: 3rem 5rem 0;
	border-radius: 1px;
}

.loading {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%);
}

.mat-raised-button {
  color: #FAFAFA;
  background-color: #FF9800;
}

h1 {
  color: #424242
}

h2 {
  color: #424242
}
