<h2 mat-dialog-title>Sigin</h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput type="text" name="username" placeholder="Username" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" name="email" placeholder="Email" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" name="firstname" placeholder="Firstname" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" name="lastname" placeholder="Lastname" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" placeholder="Password" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password2" placeholder="Password2" required>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="true" type="submit">Submit</button>
</mat-dialog-actions>

<!-- <div class="app-content">
  <div class="group">
    <form class="" action="" method="post">
      <mat-form-field>
        <input matInput type="text" name="username" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" name="email" placeholder="Email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" name="password" placeholder="Password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Siggin</button>
    </form>
  </div>
</div> -->
