.form-container {
	position: relative;
	max-width: 25rem;
	margin: 2rem auto;
	background: $body-bg;
	width: 100%;
	padding: 3rem 5rem 0;
	border-radius: 1px;
}

h1 {
  color: #424242
}

h2 {
  color: #424242
}

.mat-button {
  color: #FAFAFA;
  background-color: #FF9800;
}
