.app-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app-content {
  padding: 32px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  color: #424242
}

.mat-toolbar {
  color: #FAFAFA;
  background-color: #424242;
}
